
/* Tablet screen 768px */
@media only screen and (min-width:768px){
    body{
        background-color: gray;
    }
    nav ul{
        display: block;
    }
    .icon{
        display: none;
    }

    .banner{
        clear: both;
        height: 750px;
    }
    .overlay{
        margin-bottom: 50px;
    }
}



/* Laptop screen 992 */
@media only screen and (min-width: 992px){
    body{
        background-color: black;
    }
    .banner{
        clear: both;
        height: 750px;
    }

    
}