
/* Tablet screen 768px */
@media only screen and (min-width:768px){
    body{
        background-color: black;
    }
    nav ul{
        display: block;
    }
    .icon{
        display: none;
    }

    .banner{
        clear: both;
        height: 750px;
    }
    .overlay{
        margin-bottom: 50px;
    }

    .b-food-card{
        width: 30%;
        display: inline-block;
    }

    .best-food{
        text-align: center;
    }

    .food img{
        width: 25%;
        float: left;
        height: 100%;
    
    }
    
    
    .food-desc{
        width: 60%;
        height: 100%;
        float: left;
        padding: 10px;

    
    }
    
    .price{
        width: 15%;
        height: 100%;
        float: right;
    }
    

    .row{
        width: 30%;
        display: inline-block;
    }

    .contact-form .row:last-child{
        width: 90%;
    }

    .contact-form{
        width: 45%;
        float: left;

    }
    
    .map{
        width: 45%;
        float: right;
    }

    .get-in-touch{
        height: 500px;
    }


}



/* Laptop screen 992 */
@media only screen and (min-width: 992px){
    body{
        background-color: black;
    }
    .banner{
        clear: both;
        height: 750px;
    }
    .food{
        width: 47.5%;
        height: 175px;
        padding: 10px;

        display: inline-block;

    }

    .food-menu{
        text-align: center;
    }

    .food-desc{
        text-align: left;
    }
    
}


